h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  width: 100%;
  margin: 0;
  background-color: black;
}

a {
  font-size: 35px;
  color: white;
  background-color: black;
  margin: 100px;
}

iframe {
  margin-left: 300px;
}
