body {
  background-color: black;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  text-align: center;
  border-bottom: 5px solid red;
  padding: 20px;
  margin: 0px;
}
#first {
  text-align: center;
  border-left: 5px solid red;
  border-right: 5px solid red;
  padding: 10px;
  border-bottom: 5px solid red;
  font-family: "GmarketSansMedium";
}
#menu {
  text-align: center;
  border-right: 5px solid red;
  font-family: "GmarketSansMedium";
  padding: 10px;
  border-bottom: 5px solid red;
}
#menu_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
a {
  text-decoration: none;
  color: white;
}
#title {
  color: red;
  font-family: "SBAggroB";
}
p {
  color: white;
  text-align: center;
  font-family: "GmarketSansMedium";
}
#poster {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 830px) and (max-width: 1100px) {
  #poster {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 830px) {
  #poster {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.poster {
  width: 250px;
  padding: 10px;
}
#item {
  text-align: center;
}
img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
figure:hover img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}
