*{
    margin: 0;
    padding: 0;
    list-style: none;
    /* text-decoration: none; */
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body{
    font-size: 14px;
}
.Login{
    width: 400px;
    height: 350px;
    padding: 40px;
    margin: 0 auto;
}

.Login > h2{
    font-size: 24px;
    color: #00c234;
    margin-bottom: 20px;

}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    /* width: 100%;
    height: 48px;
    border-radius: 6px; */
    color: #fff;
    font-size: 16px;
    background-color: #00c234;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}







/* #login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
} */