body {
  background: #040714;
  margin: 0;
  padding: 0;
}

.swiper {
  height: 80vh;
  position: relative;
  background-color: #040714;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-scrollbar-drag {
  background: #808080;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 450px;
  max-height: 255px;
}

#over-title {
  position: absolute;
  bottom: 40px;
}

.accordion-content {
  transition: max-height 0.2s ease-out, padding 0.2s ease;
}
