body {
  font-family: "Arial", sans-serif;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.navi {
  display: flex;
  justify-content: space-between; /* 내비게이션 바의 내용을 양쪽 끝으로 정렬 */
  align-items: center;
  border-bottom: 1px solid gray;
}

.navi img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin-right: 450px; /* 이미지를 오른쪽으로 이동 */
  margin-left: auto; /* 이미지를 왼쪽으로 이동 */
}

.a_img {
  width: 300px;
  height: 150px;
  margin-left: 800px;
  color: white;
  text-decoration: none;
}

.navi ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navi li {
  margin-right: 20px;
}

button {
  margin: 20px;
  outline: none;
}

.a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.navi-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* logout-btn */
.logout {
  background: #000;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.logout:hover {
  background: transparent;
  color: #000;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.logout:before,
.logout:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: 400ms ease all;
}
.logout:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.logout:hover:before,
.logout:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* mypage-btn */
.mypage {
  background: #000;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.mypage span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.mypage:before,
.mypage:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #000;
}
.mypage:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.mypage:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.mypage:hover {
  color: #000;
  background: transparent;
}
.mypage:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.mypage:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.mypage span:before,
.mypage span:after {
  position: absolute;
  content: "";
  background: #000;
}
.mypage span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.mypage span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.mypage span:hover:before {
  width: 100%;
}
.mypage span:hover:after {
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  color: #444;
}

.post {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; /* Increase the gap to 15px for better spacing */
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Increase border-radius for a more polished look */
  transition: transform 0.3s ease;
}

.image-grid img:hover {
  transform: scale(1.05);
}

.post p {
  line-height: 1.6;
  font-size: 1.1em;
  margin-top: 20px;
}

.post p br {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .post img {
    max-width: 70%;
    margin: 1%;
  }
}
