
#weather_icon{
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    vertical-align: middle;
    margin-left: 9rem;
}
body > main {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* 뷰포트 높이 100%에서 7rem만큼 빼기 */
    min-height: calc(100vh - 7rem);
    /* padding: 1rem 10rem; */
    padding: 0rem 10rem;
}

small{
    padding-left: 1rem;
}

#Article{
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 0;
}

.grid{
    display: grid;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
}