body {
  font-family: system-ui;
  margin: 0 auto;
}

img {
  pointer-events: none;
}

a {
  text-decoration-line: none;
  color: #868b94;
}

::selection {
  background-color: #feb98b;
  color: #000000;
}

/*  */
.carrot-container-h1 {
  font-size: 40px;
  margin-bottom: -10px;
}

.carrot-p-title {
  font-size: 17px;
  font-weight: 700;
  color: #fe6f0f;
  margin-bottom: -20px;
}

.carrot-p {
  font-size: 20px;
  font-weight: 200;
  color: #7c7c7c;
}

.carrot-gray-button {
  width: 150px;
  height: 50px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: #e9ecef;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 13px;
}

.carrot-gray-button:nth-child(2) {
  width: 200px;
  height: 50px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: #e9ecef;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.carrot-gray-button:hover {
  width: 150px;
  height: 50px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 13px;
}

.carrot-gray-button:nth-child(2):hover {
  width: 200px;
  height: 50px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/*  */
.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 0px;
}

.header-container ul {
  display: flex;
  align-items: center;
}

.header-container a {
  margin-right: 20px;
}

.header-container li {
  list-style: none;
  font-size: 20px;
  margin-left: 25px;
  font-weight: 500;
}

.search-container {
  float: right;
}

.input-container input {
  width: 290px;
  height: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
  background-color: #f2f3f6;
  border: none;
  border-radius: 5px;
}

.input-container button {
  width: 90px;
  height: 41px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 40px;
}

.input-container button:hover {
  width: 90px;
  height: 41px;
  color: #636365;
  font-size: 16px;
  font-weight: 600;
  background-color: #f6f7f9;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 40px;
}

/*  */

#carrot-section-1 {
  background-color: #fffae0;
}
.carrot-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrot-container-1-text {
  padding-left: 50px;
}

.carrot-container-1-text h1 {
  font-size: 55px;
}
.carrot-container-1-text button {
  width: 180px;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  background-color: #ff6f0e;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.carrot-container-1-text button:hover {
  width: 180px;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  background-color: #f06000;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/*  */

.carrot-section-2 {
  background-color: #f9f9f9;
  padding-right: 100px;
}
.carrot-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */

#carrot-section-3 {
  background-color: #fff8f1;
}

.carrot-container-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.carrot-container-3-icons {
  display: flex;
  flex-direction: row;
}

.icons-container {
  padding: 10px;
}

.fa-user-group,
.fa-circle-question,
.fa-person-circle-question {
  color: #fe6f0f;
  background-color: #ffe5d5;
  font-size: 28px;
  padding: 10px;
  border-radius: 12px;
}

.carrot-container-3-icons p:nth-child(2) {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.carrot-container-3-icons p:nth-child(3) {
  color: #7c7c7c;
  font-size: 12px;
}
/*  */

.carrot-section-4 {
  background-color: #f9f9f9;
  padding-right: 120px;
}
.carrot-container-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrot-container-4-text {
  margin-left: 50px;
}

/*  */

#carrot-section-5 {
  background-color: #f5fdeb;
  padding-left: 120px;
  border-bottom: 2px solid #f9f9f9;
  margin-bottom: 2dvh;
}

.carrot-container-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrot-container-5-text {
  padding-right: 100px;
}

/*  */
.footer-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.footer-container nav {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #eaecef;
  padding-bottom: 20px;
}

.footer-container li {
  list-style: none;
  font-weight: 200;
  color: #212124;
  font-size: 15px;
  padding: 17px;
}

.footer-down-container {
  padding-left: 100px;
  margin-top: 20px;
  border-bottom: 2px solid #eaecef;
}

.footer-title {
  font-size: 16px;
  font-weight: 500;
}

.footer-gray-button {
  width: 150px;
  height: 40px;
  color: #212124;
  font-size: 14px;
  font-weight: 700;
  background-color: #f8f8f8;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  line-height: 20px;
}

.footer-gray-button:hover {
  width: 150px;
  height: 40px;
  color: #212124;
  font-size: 14px;
  font-weight: 700;
  background-color: #dee2e6;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  line-height: 20px;
}

.footer-info {
  padding-right: 200px;
}

.footer-info p {
  font-size: 13px;
  color: #868b94;
  line-height: 0.5em;
}

.footer-info a {
  font-size: 13px;
  color: #868b94;
  line-height: 2em;
}

.footer-container i {
  font-size: 25px;
  padding-right: 10px;
  color: #868b94;
}
#alert {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*  */

@media (max-width: 1058px) {
  body {
    visibility: hidden;
    background-color: #ff9b28;
  }

  #alert {
    visibility: visible;
    color: white;
    font-size: 30px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
