
body {
    margin: 0;
}
a {
    color:black;
    text-decoration: none;
}
#active {
    color:red
}
.saw {
    color:gray
}
h1 {
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol {
    padding-left: 33px;
}
#article {
    padding-left: 25px;
}
@media(max-width: 800px){
    #grid {
        display: block;
        grid-template-columns: 150px 1fr;
    }
    ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}